/* 500px aumenta img vans e tamanho dos cards */

@media (max-width: 800px) {
    header {
      justify-content: space-around;
    }

    .nav-list {
      display: block;
      position: absolute;
      right: 0;
      top: 80px;
      width: 100%;
      backdrop-filter: blur(25px);
      flex-direction: column;
      align-items: center;
      visibility: hidden;
      z-index: 1000;
      height: 65vh;
    }

    .nav-list a {
      font-size: 1.5em;
      color: white;
  }

  .nav-list a:hover {
    border-bottom: 2px solid #FF5500;
    color: #FF5500;
  }
    
    .mobile-menu {
      display: block;
    }
  }
  
  #nav.active .nav-list {
    display: flex;
    justify-content: space-around;
    visibility: visible;
    overflow-y: auto;
  }
  
  #nav.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  #nav.active .line2 {
    opacity: 0;
  }
  
  #nav.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .omega {
    flex-direction: column;
    
  }


  @media (min-width: 700px) {
    

    .principal h1 {
        padding: 60px 0;
        width: 70%;
    }

    .fundo {
      width: 600px;
    }

    .img-carousel {
      height: 50%; 
    }

    .transporte {
      height: 600px;
    }

  }

  @media(min-width: 1000px){
    

    nav{
        justify-content: space-between;
    }

    .texto{
      padding: 20px 40px;
    }

    .texto h1{
        font-size: 6vw;
        width: 70vw;
        padding: 45px 0 80px 0;
    }

    .principal {
        height: 50vw;
        background-position: center center;
        background-size: cover;
    }

    .principal a button {
      font-weight: bold;
      padding: 35px;
      font-size: 2vw;
  }

    .fundo{
        width: 90vw;
        padding: 60px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 60px 0;
        border-radius: 10px;
    }
    
    .carrosel-conteiner {
        height: 50vh;
        width: 50%;
        position: relative;
        max-width: 750px;
        border-radius: 10px;
        overflow: hidden;
    }

    .sobrenos {
      text-align: center;
      width: 50%;
      padding: 5px 20px;
      font-size: 1.4em;
    }

    .transporte {
      width: 55vw;
  }
    
    .omega {
      flex-direction: row;
    }

    .icones {
      padding: 0;
    }

    .detalhes a button {
      border: 2px solid #FF5500;
      padding: 15px;
      border-radius: 5px;
      color: #FF5500;
      background-color: transparent;
      font-size: 1.1em;
    }

    


    
  }

  @media(min-width:1200px) {
    .flex {
      display: flex;
      flex-direction: row;
  }

  .img-carousel {
    height: 17vw; 
  }

  .transporte {
    height: 33vw;
    width: 27vw;
  }

  .detalhes ul {
    columns: 2;
    font-size: 0.9em;
    padding: 20px 0;
  }
  }

  @media (min-width:1400px) {
    .detalhes ul {
      font-size: 1em;
      padding: 30px 0;
    }
  }

  @media (min-width:1500px) {
    .detalhes ul {
      font-size: 1.2em;
      padding: 35px 0;
    }
  }