@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 80px;
    color: #FE7920;
    padding: 10px;
    font-family: "Inter", sans-serif;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.3em;
    padding: 20px;
  }

  .nav-list a:hover {
    border-bottom: 2px solid #FE7920;
    color: #FE7920;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }

.tipos {
    display: flex;
    margin-bottom: 15px;
}

.tipos p {
    background-color: #FE7920;
    border-radius: 20px;
    padding: 10px;
    font-size: 2vh;
    margin-right: 10px;
    font-weight: bold;
}


.principal {
    background-image: url(img/vanpretona.jpeg);
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    font-family: "Inter", sans-serif;
}

.texto {
    background-color: rgba(0, 0, 0, 0.575);
    height: 100%;
    color: white;
    padding: 20px;
}

.texto h1 {
    padding: 45px 0;
    font-size: 6vh;
}

.texto a button {
    border: 2px solid #FE7920;
    border-radius: 5px;
    color: #FE7920;
    font-weight: bold;
    padding: 20px;
    background-color: transparent;
    font-size: 3.5vh;
    transition: 0.3s;
}

.texto a button:hover {
    background-color: #FE7920;
    color: white;
    transition: 0.3s;
    transform: scale(0.95);
}

.transportes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

#veiculos {
    margin-top: 20px;
    font-size: 2em;
    color: #FE7920;
}

.transporte {
    max-width: 800px;
    min-width: 320px;
    width: 72vw;
    margin: 40px;
    height: 500px;
    text-align: center;
    background-color: #e0e2d6;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.transporte:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

#onibus .detalhes ul {
    columns: 2;
}

/* Carrosssel */
  .img-carousel {
    position: relative;
    height: 40%; 
  }
  
  .img-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .img-carousel img.active {
    opacity: 1;
  }
  
  
  .carousel-controller {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    background: transparent;
    
  }

  .carousel-controller button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }

.detalhes h2 {
    padding: 10px;

}

.detalhes ul {
    padding: 30px;
    list-style: none;
    columns: 1;
    text-align: center;
    font-size: 1.2em;
}

.detalhes a button {
    border: 2px solid #FE7920;
    padding: 15px;
    border-radius: 5px;
    color: #FE7920;
    font-weight: 700;
    background-color: transparent;
    
    font-size: 1.2em;
}

.detalhes a button:hover {
    background-color: #FE7920;
    color: #e0e2d6;
}

.detalhes li {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.detalhes i {
    padding: 2px 5px;
}

footer {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 15px 20px;
    font-family: "Montserrat", sans-serif;
}

.omega {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.omega h2 {
    font-size: 3em;
    padding: 5px 0;
}

.omega img {
    padding-bottom: 15px;
}

.empresa li, .empresa a, .icones li, .icones a{
    padding: 7px 0;
    color: white;
}

.icones {
    padding: 40px 0;
}

.icones a {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icones a:hover {
    color: #FE7920;
}

.icones i {
    font-size: 2.5em;
    padding-right: 10px;
    
}

.pagamento {
    font-size: 2em;
}

footer p {
    text-align: center;
    line-height: 1.5em;
}

#labdev {
    color: #FE7920;
    font-weight: bold;
    font-size: 1.2em;
}

/* Carrossel */

.fundo{
    background-color: #e0e2d6;
    width: 90%;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.carrosel-conteiner {
    width: 100%;
    height: 38vh;
    max-height: 480px;
    position: relative;
    max-width: 750px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.sobrenos {
    text-align: center;
    padding: 20px 5px;
    font-size: 1.2em;
}

.carrosel-conteiner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.carrosel-conteiner img.active {
    opacity: 1;
}

.texto-sobre-imagem {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.texto-sobre-imagem h2 {
    text-align: center;
    padding: 10px;
}

.controller {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    background: transparent;
}


.controller button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.controller button i {
    font-size: 24px;
}


